.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(372px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid #eaeaea;
  background-color: transparent;
  box-shadow: 0 2px rgba(0,0,0,.15);
  border-radius: 0.375rem;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
  text-align: center;
  margin-block: auto;
  overflow: hidden;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  text-align: center;
  aspect-ratio: 8 / 3;
  object-fit: cover;
  transition: all .5s ease;
}

.cards > ul > li img:hover {
  transform: scale(1.5);
}

.cards.features > ul {
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  background: linear-gradient(133.87deg, #612D90 0%, #BA248C 48.67%, #F9A119 100%);
  color: #fff;
  margin: 16px;
  border-radius: .375rem;
  height: 114px;
}

.cards.features > ul > li {
  background-color: transparent;
  color: #FFF;
  border: none;
  text-align: center;
  padding: 1px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: var(--heading-font-family);
  font-weight: 200;
  text-align: left;
  border-right: 1px solid rgba(0, 0, 0, .32);
  border-color: rgba(255, 255, 255, .32);
  text-decoration: underline;
  margin-top: 0px;
  line-height: 1.2;
}

.cards.features > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: none;
  transition: none;
}

.cards.features > ul > li img:hover {
  transform: none;
}

.cards-card-body > p.button-container {
  text-align: center;
  margin-top: auto;
}

.cards-card-body > p.button-container > a {
  color: #0072b8;
  background-color: #FFF;
  border: .064rem solid #0072b8;
  font-size: .875rem;
}

.section.highlight.cards > .cards-card-image > ul > li img {
  transition: none;
}

.section.highlight.cards-container > div.cards-wrapper > div > ul > li > div.cards-card-image > picture > img {
  transition: none;
}

.section.highlight.cards-container > div.cards-wrapper > div > ul > li > div.cards-card-image > picture > img:hover {
  transform: none;
}