footer {
  padding: 2rem;
  background-color: #FFF;;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: 14px;
}

footer .footer a:any-link {
  all: unset;
  color: #0072b8;
  text-decoration: none;
}

footer .footer h5 {
  border-bottom: 1px solid silver;
  font-size: 14px;
  font-weight: 400;
}